@model webQuyTuThien.Models.Fund
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            Kết quả mong đợi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expected_result)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Model.hinh" width="450px" height="500px" />
        </dd>

        <dt>
            Ngày bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>
        <dt>
            Tổng số tiền
        </dt>
        <dd>
            @Html.DisplayFor(model => model.full_amount)
        </dd>


        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
