@model IEnumerable<webQuyTuThien.Models.Fund>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
    @Html.ActionLink("Add", "Create")
</td>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Ngày bắt đầu    
        </th>

        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <img src="@item.hinh" width="250px" height="300px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Detail", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
